.links {
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}


.menu svg{
    font-size: 2rem;
}

.teldesign{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 91px;
  width: 100vw;
  background-color: gray;
  border-radius: 10px;
  padding-block: 15px;
}


@media screen and (min-width: 1024px) {
  .links {
    display: flex !important;
  }
 
}